<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/codeloverjay30/index.json" />
    <add key="MyLocalBlazorWasmSource" value="D:\workspace\MyLocalNuget\BlazorWebAssembly\" />
    <add key="MyLocalNuGet" value="D:\workspace\MyLocalNuget\ClassLibrary\" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="ANY_STRING" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN_ENV_VAR%" />
    </github>
  </packageSourceCredentials>
</configuration>