[submodule "experiments/Plugins/VSC/VscDeterminer"]
    path = experiments/Plugins/VSC/VscDeterminer
    url = https://github.com/vscplugindeveloperjay30/VscDeterminer.git

[submodule "experiments/Scrawler/Phone/AndroidApp/GamesScrawler/OmniAppium.Engine"]
    path = experiments/Scrawler/Phone/AndroidApp/GamesScrawler/OmniAppium.Engine
    url = https://github.com/codeloverjay30/OmniAppium.git

[submodule "modules/AiModels/AiUtilityServices"]
    path = modules/AiModels/AiUtilityServices
    url = https://github.com/codeloverjay30/AiUtilityServices.git

[submodule "modules/IOOperation/IOOperationUtilityServices"]
    path = modules/IOOperation/IOOperationUtilityServices
    url = https://github.com/codeloverjay30/IOOperationUtilityServices.git

[submodule "modules/PackagesManager/PaketUtilityServices"]
    path = modules/PackagesManager/PaketUtilityServices
    url = https://github.com/codeloverjay30/PaketUtilityServices.git

[submodule "modules/Models/CommonModels"]
    path = modules/Models/CommonModels
    url = https://github.com/codeloverjay30/CommonModels.git

[submodule "modules/Strings/StringUtilityServices"]
	path = modules/Strings/StringUtilityServices
	url = https://github.com/codeloverjay30/StringUtilityServices.git

[submodule "modules/Math/MathUtilityServices"]
	path = modules/Math/MathUtilityServices
	url = https://github.com/codeloverjay30/MathUtilityServices.git

[submodule "modules/IOOperation/FileStreamUtilityServices"]
	path = modules/IOOperation/FileStreamUtilityServices
	url = https://github.com/codeloverjay30/FileStreamUtilityServices.git

[submodule "modules/IOOperation/FileNameFactories"]
	path = modules/IOOperation/FileNameFactories
	url = https://github.com/codeloverjay30/FileNameFactories.git

[submodule "module/Assemblies/AssemblyUtilityServices"]
	path = module/Assemblies/AssemblyUtilityServices
	url = https://github.com/codeloverjay30/AssemblyUtilityServices.git      

[submodule "modules/Spans/SpanUtilityServices"]
	path = modules/Spans/SpanUtilityServices
	url = https://github.com/codeloverjay30/SpanUtilityServices.git

[submodule "modules/Exceptions/ExceptionsUtilityServices"]
	path = modules/Exceptions/ExceptionsUtilityServices
	url = https://github.com/codeloverjay30/ExceptionsUtilityServices.git
[submodule "modules/Assemblies/AssemblyUtilityServices"]
	path = modules/Assemblies/AssemblyUtilityServices
	url = https://github.com/codeloverjay30/AssemblyUtilityServices.git
