<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="D:\DevTools\nuget_cache" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyLocalBlazorWasmSource" value="D:\workspace\MyLocalNuget\BlazorWebAssembly\" />
    <add key="MyLocalClassLibrarySource" value="D:\workspace\MyLocalNuget\ClassLibrary\" />
  </packageSources>
</configuration>